.hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-container {
  visibility: hidden;
}

@media screen and (min-width: 840px) {
  .banner-container {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.banner-container img {
  visibility: hidden;
  width: 0;
}

@media screen and (min-width: 840px) {
  .banner-container img {
    visibility: visible;
    width: 70%;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1A1A1A;
  padding: 0 20px;
  text-align: center;
}

@media screen and (min-width: 840px) {
  .hero-content {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CECECE;
  }
}

.app-details-icon-wrapper {
  position: relative;
}

@media screen and (min-width: 840px) {
  .app-details-icon-wrapper {
    display: inline;
  }
}

.app-details-icon {
  border-radius: 20%;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  width: 160px;
  z-index: 0;
}

@media screen and (min-width: 1280px) {
  .app-details-icon {
    width: 200px;
  }
}

.app-details-icon-shadow {
  position: absolute;
  filter: blur(10px);
  left: -1px;
  opacity: 50%;
  z-index: -1;
  background-size: contain;
  width: 170px;
}

@media screen and (min-width: 1280px) {
  .app-details-icon-shadow {
    width: 210px;
  }
}

.app-details-title {
  margin-block-start: 1em;
  margin-block-end: 0.2em;
}

@media screen and (min-width: 600px) {
  .app-details-title {
    line-height: 2.75rem;
    font-size: 2.25rem;
    letter-spacing: 0;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .app-details-title {
    line-height: 4rem;
    font-size: 3.5rem;
    letter-spacing: 0;
    font-weight: 500;
  }
}

.play-store-badge img {
  width: 150px;
}